<app-card>
    <form [formGroup]="aboutForm"  (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label>Do you like play cricket ?</label>
            <select formControlName="choice" (change)="onOptionChange($event)">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-field" *ngIf="detailsBool">
            <label>Write about cricket</label>
            <textarea formControlName="details"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</app-card>
