<form [formGroup]="demoForm"  (ngSubmit)="onSubmit()">
    dfd
    <div formArrayName="items">
        <div *ngFor="let item of f.controls; let i = index" [formGroupName] = "i">
            <div class="field">
                <label>label {{i + 1}}</label>
                <input type="text" formControlName = "name">
            </div>
            <button (click)="removeItem(i)">delete</button>
        </div>
    </div>
    <div>
        <button  (click)="addItem()">Add Item</button>
        <button >Submit</button>
    </div>
    
</form>
