.header{height: 50px;background: #e3e3e6;
    ul{display: flex;    align-items: flex-end;
       li{ list-style: none;
            &.align{margin-left: auto;}
            a{display: inline-block;padding: 10px;}
        }
    }
}